@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}
#logo {
  background-color: black;
  color: white;
  text-align: center;
  padding: 30px;
}
#logo h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 15px !important;
  margin: 0;
  margin-right: 29vw;
}
#logo p {
  font-family: "Orbitron", sans-serif;
  letter-spacing: 3px;
  font-size: 6px !important;
  color: gray;
  margin-right: 29vw !important;
}
#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 0 40px;
  background-color: black;
  height: 17vh;
}

#Menu {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 12vw;
}
#Menu a {
  color: #ccc;
  text-decoration: none;
  font-size: 13px;
  transition: color 0.3s ease;
  font-family: "Poppins", sans-serif;
}
#foto img {
  height: 12vh;
  width: 12vw;
  border-radius: 1%;
}
#Performance h1 {
  justify-content: center;
  align-items: center;
  margin-top: 9vh;
  margin-bottom: 2vh;
  color: #050505;
  margin-left: 14vw;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
#sobre h3 {
  margin-left: 7vw;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #000000;
  max-width: 500px;
  margin-bottom: 20px;
}
#foto img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 58vw;
  margin-top: -40vh;
  height: 35vh;
  width: 35vw !important;
  filter: brightness(70%);
}
#Introdution {
  background-color: rgb(253, 248, 248);
  color: white;
  padding: 40px 0;
  min-height: 100vh;
}
#carrosp {
  margin-top: -20vh;
  background-color: rgb(3, 3, 3);
  color: white;
  padding: 70px 0;
  min-height: 120vh;
}
#Carros h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Orbitron", sans-serif;
  font-size: 19px;
  color: #bbafaf;
  text-align: center;
}
#cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8vh;
  margin-right: 60vw;
}
#cards p {
  font-family: "Poppins", sans-serif !important;
  text-align: justify;
  word-spacing: 3px;
}
#card2 {
  display: flex;
  justify-self: center;
  align-items: center;
  margin-top: -68vh;
  margin-right: 2vw;
}
#card2 p {
  font-family: "Poppins", sans-serif !important;
  text-align: justify;
  word-spacing: 3px;
}
#card3 {
  display: flex;
  justify-self: center;
  align-items: center;
  margin-top: -69vh;
  margin-left: 60vw;
}
#card3 p {
  font-family: "Poppins", sans-serif !important;
  text-align: justify;
  word-spacing: 3px;
}
#card4 {
  justify-self: center;
  align-items: center;
  margin-top: 9vh;
  margin-right: 60vw;
}
#card4 p {
  font-family: "Poppins", sans-serif !important;
  text-align: justify;
  word-spacing: 3px;
}
#card4 a {
  font-family: "Poppins", sans-serif !important;
}
#card3 a {
  font-family: "Poppins", sans-serif !important;
}
#card2 a {
  font-family: "Poppins", sans-serif !important;
}
#cards a {
  font-family: "Poppins", sans-serif !important;
}
#card5 {
  display: flex;
  justify-self: center;
  align-items: center;
  margin-top: -76vh;
  margin-right: 2vw;
}
#card5 p {
  font-family: "Poppins", sans-serif !important;
  text-align: justify;
  word-spacing: 2px;
}
#card5 a {
  font-family: "Poppins", sans-serif !important;
}
#card6 {
  display: flex;
  justify-self: center;
  align-items: center;
  margin-top: -77vh;
  margin-left: 60vw;
}
#card6 a {
  font-family: "Poppins", sans-serif !important;
}
#card6 p {
  font-family: "Poppins", sans-serif !important;
  text-align: justify;
  word-spacing: 2px;
}
#Serviços {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 70px 0;
  min-height: 120vh;
}
#texttittle h1 {
  margin-right: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Orbitron", sans-serif;
  font-size: 19px;
  color: #bbafaf;
  text-align: center;
}
#subititulo h3 {
  margin-top: 4vh;
  font-size: 13px;
  margin-left: 20vw;
  font-family: "Poppins", sans-serif !important;
  text-align: justify;
  word-spacing: 2px;
  max-width: 800px;
  color: gray;
}
#foto2 img {
  margin-top: 10vh;
  margin-left: 7vw;
  width: 18vw;
  height: 23vh;
  filter: brightness(40%);
}
#foto2 h5 {
  margin-top: 1vh;
  margin-left: 10vw;
  font-size: 12px;
  color: gray;
  font-family: "Poppins", sans-serif !important;
}
#foto3 img {
  margin-top: -37vh;
  margin-left: 29vw;
  width: 18vw;
  height: 23.5vh;
  filter: brightness(40%);
}
#foto3 h5 {
  margin-top: -7vh;
  margin-left: 31.5vw;
  font-size: 12px;
  color: gray;
  font-family: "Poppins", sans-serif !important;
}
#foto4 img {
  margin-top: -39.5vh;
  margin-left: 51vw;
  width: 18vw;
  height: 23.5vh;
  filter: brightness(40%);
}
#foto4 h5 {
  margin-top: -8vh;
  margin-left: 54.5vw;
  font-size: 12px;
  color: gray;
  font-family: "Poppins", sans-serif !important;
}
#foto5 img {
  margin-top: -42vh;
  margin-left: 73vw;
  width: 18vw;
  height: 23.5vh;
  filter: brightness(40%);
}
#foto5 h5 {
  margin-top: -9vh;
  margin-left: 75.5vw;
  font-size: 12px;
  color: gray;
  font-family: "Poppins", sans-serif !important;
}
#Nclientes h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Orbitron", sans-serif;
  color: #bbafaf;
}
#Cliente {
  margin-top: -40vh;
  background-color: rgb(3, 3, 3);
  color: white;
  padding: 70px 0;
  min-height: 120vh;
}
#depoimentos h4 {
  margin-left: 4vw;
  margin-top: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: #998c8c;
  max-width: 300px;
  margin-bottom: 20px;
}
#depoimentos h5{
  font-size: 12px;
  margin-top: -3vh;
  margin-left: 34vh;
  color: red;
}
#depoimentos img{
  margin-top: -8vh;
  margin-left: 24vw;
  height: 5vh;
  width: 3vw;
  border-radius: 50%;
  
}
